<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Details</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_tasks_context.name }}</h1><!--comes from def todo_task-->
            <p>
                <a href="{% url 'todo_list_update' todo_tasks_context.id %}">Edit</a>
            </p>
            <h2>Tasks</h2>
        </div>
        <table>
            <thead>
                <th>Task</th>
                <th>Due date</th>
            </thead>
            <tbody>
                {% for item in todo_tasks_context.items.all %}<!--comes from def todo_task-->
                <tr>
                    <td>{{item.task}}</td>
                    <td>{{item.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>