<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in todo_list_key %}
                    <tr>

                        <td>
                            <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                            <!--clickable link to name of task-->
                        <td>{{ list.items.count }}</td>
                        {% endfor %}
                    </tr>

                </tbody>
            </table>
        </div>
    </main>
</body>

</html>